.body{
    background: azure;
}

.icon, .icon:hover{
    cursor: pointer; 
    color: purple;
    font-size: 30px;
    font-weight: bold;
}

.logBtn{
    background-color: white;
    border-radius: 25px;
    border: 1px solid red;
}

.form-body{
    margin:10px;
}
.field {
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    margin: 10px;
}
.field input{
    border: 2px solid red;
    margin :2px; 
}

.formBody{
    border: 2px solid red;
}