.body{
    background: azure;
}

.icon, .icon:hover{
    cursor: pointer; 
    color: purple;
    font-size: 30px;
    font-weight: bold;
}

.logBtn{
    background-color: white;
    border-radius: 25px;
    border: 1px solid red;
}

/* .form-body{
    margin:10px;
} */
.field {
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    margin: 10px;
}
.field input{
    border: 2px solid red;
    margin :2px; 
}

.formBody{
    border: 2px solid red;
}
.center-position{
    margin-left: auto;
    margin-right: auto;
}
.card-style{
    padding: 0px;
    border-top-width: 0px;
    border-bottom-width: 11px;
    border-right-width: 11px;
    border-radius: 20px;
    border-color: bisque;
    background-color: cornsilk
}
.icon-style{
    font-size: 60px;
    color: cornflowerblue;
    margin: 10px;
}